*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vh;
    height: 300vh;
}
.minhadiv{
   width: 900px;
   height: 500px;
  

 /* colocando uma imagem com background-image:url () */
background-image: url("../img/spider-verse-streaming-marvel.jpg");

/* porpriedade faz a imagem ficar no tamanho da caixa (div) */
/* background-size: cover; */

/* para a imagem nao repetir */
background-repeat: no-repeat;

/* 1° posicionamento horizontal  2° valor vertical*/
/* background-position:50% 0%; */

/* imagem fica no tamanho original*/
/* background-size: auto; */

/*fica dentro da caixa(div) sem perder qualidade da imagem*/
background-size: contain;


}